
<html>
	<head>
		<%= javascript_include_tag "home/index" %>
	</head>
	<body>
		<div>
			<h1> Create User </h1>
			<input type="text" id="user_name" placeholder="Name">
			<input type="text" id="user_email" placeholder="Email">
			<button id="submit_user">Submit</button>
		</div>
		<div>
			<h1> Create Team </h1>
			<input type="text" id="team_name" placeholder="Name">
			<button id="submit_team">Submit</button>
		</div>
		<div>
			<h1> Users </h1>
			<div id='users'>
				<% @users.each do |u| %>
				<p>
					<%= u.name %> | 
					<%= u.email %> 
					<button id="destroy_user" onclick='destroy_user("<%= u.id %>"); return false;'>X</button>
				</p>

				<% end %>
			</div>
		</div>
		<div>
			<h1> Teams </h1>
			<div id='teams'>
				<% @teams.each do |t| %>
				 	<p>
						<%= t.name %>
						<button id="destroy_team" onclick='destroy_team("<%= t.id %>"); return false;'>X</button>
					</p>
				<% end %>
			</div
		</div>
	</body>
</html>